*{
    box-sizing: border-box;
}
.foot{
    margin: 10% 0% 5%;
    font-size:1.1rem;
    width: 100vw;
}
.foot>ul{ 
    width: 100vw;
    justify-content: center;
    display: flex;
    gap: 4%;
    list-style:none;
    color: white;
}
.FootBtn{
    overflow: hidden;
    text-align: center;
    padding-bottom: 8%;
}
.Footimp{
    width: 100vw;
}
.FootBtn>button{
    background-color: #f7617f;
    color: rgb(58, 57, 57);
    font-family: 'Acme', sans-serif;
    font-size: 1.1rem;
    border: 10px solid #f7617f;
    border-radius: 0.2rem;
}
.FootBtn>button:hover{
    color: #f7617f;
    background-color: rgb(58, 57, 57);
    border-color: rgb(58, 57, 57);
    
}
.Footimp>hr{
    border-color:#3AB0FF ;
    width: 40vw;
}
.blue{
    font-weight: 500;
    color:#3AB0FF;
}
.red{
    font-weight: 500;
    color: #f7617f;
}

.Link:hover{
    color:#f7617f;
}
.footImage{
    display: flex;
    gap: 5%;
}
.footImage>li{
    text-align: center;
    border:0.5rem solid #565656;
    width: 6vw;
    background-color: #565656;
    font-size: 1.5rem;
    list-style: none;
}
.footImage>li:hover{
    border-color: black;
    background-color: black;
}
.foot-socials{
    margin-left: 30%;
}