*{
    box-sizing: border-box;
}
.Banner{
    width: 100vw;
    background-color: #282828;
    color: white;
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
.banner-content{
    width: 100vw;
    padding: 35% 0%;
}
.your-name{
    height: 0.1vh;
    display: flex;
    gap: 1%;
    align-items: center;
    justify-content: center;
}
.your-name>h1{
    font-weight: 400;
    font-size: 2.5rem;
    color:#FF7E98;
    font-family: 'Raleway', sans-serif;
}
.your-name>p{
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 400;
}
.banner-content>h2{
    line-height: 0.5rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    word-spacing: 0.05rem;
    font-size: 2.5rem;
}
.banner-content>p{
    line-height: 0.2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    word-spacing: 0.1rem;
    letter-spacing: 0.02rem;
}
.Header-connect{
    display: flex;
    gap: 2%;
    margin: 10% 19%;
    align-items: center;
}
.Header-connect>h4{
    width: 50vw;
    text-align: center;
    align-items: center;
    font-size: 1rem;
    letter-spacing: 0.05rem;
}
.Header-connect>h4:hover{
    color: aqua;
}
.Header-connect>button{
    color: #FF7E98;
    height: 4vh;
    width: 20vw;
    border: 0.1rem solid #FF7E98;
    background-color: transparent;
    font-size: 1.2rem;
}
.Header-connect>button:hover{
    color: white;
    background-color: #F16984;

}