*{
    box-sizing: border-box;
}
.Nav{
    width: 100vw;
    display: flex;
    gap: 2rem;
    
}
.Nav>li{
    opacity: 100%;
    list-style: none;
    color: white;
}
.Navbar-bg{
    width: 100vw;
    height: 5vh;
    background-color: #FF597A;
    opacity:0.9;
    box-shadow: 0 1em 1sem -2em rgba(0,0,0,.2);
}
.Navbar>ul{
    align-items:center;
}
.Navbar{
    height: 5vh;
    font-size: 0.9rem;
    top:0;
    position: fixed;
    display: flex;
    overflow:hidden;
    width: 100vw;
    z-index: 99;
}
.nav-home{
    gap: 20.5rem;
}
.Navbar-middle{
    background: transparent;
}
/* .Navbar>ul>lit{
    background-color: #FF597A;
    padding: 1% 1%;
    border-radius: 10px;
} */
.dropdown{
    font-family: 'Maven Pro', sans-serif; 
    font-size: 1.5em;
    cursor: pointer;
    background-color:transparent;
    border: transparent;
    padding: 1% 10%;
    color: white;
    
}
.dropdown:hover{
    color: aqua;
}
.dropdown:after{
    border-color:transparent transparent #fff transparent;
}
.dropdown>option{
    background-color: #FF597A;
    color: white;
    font-size: 20px;
    z-index: 99;
}
.NAVBAR{
    align-items: center;
    font-size: 0.9rem;
    overflow:hidden;
    width: 100vw;
    top:0;
    display: flex;
    gap: 35%;
    position:fixed;
    width: 100vw;    
    height: 5vh;
    background-color: #FF597A;
    opacity: 0.9;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);

}
.NAV{
    gap: 2rem;
    display: flex; 
}
.NAV>li{
    list-style: none;
}
.NAV-white{
    height: 5vh;
    font-size: 0.9rem;
    top:0;
    position: fixed;
    display: flex;
    overflow:hidden;
    width: 100vw;
    z-index: 99;
}
.NAV-nav>li{
    list-style: none;
    color: #282828 ; 

}
a{
    color: white;
}
a:hover{
    color: aqua;
}
.Logo>h1{
    width: 20vw;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    color: #FF597A
}
.Logo{
    text-decoration: none;
}
.Logo-white>h1{
    width: 20vw;
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    color: #282828
}
.Logo-white{
    text-decoration: none;
}